.insideimage {
  position: relative;
  overflow: hidden;
}

.insideimage > Image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-position: center;
}
.insideimage > .orderup {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1 rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideimage > Image .insideimage > .orderup {
  transition: 200ms ease-in-out;
 
}
.insideimage > .orderup.fade {
  opacity: 0;
  
}

.insideimage:hover > .orderup.fade {
  opacity: 1;
}

.insideimage:hover > .imgblur {
  filter: blur(5px);
  }

.insideimage:hover > .imgblur {
  transform: scale(0.9);
}

.quoutes {
  font-family: 'Press Start 2P', cursive;
 
}

.navbar {
  text-align: center;
  position: sticky;
}

.gameContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.theBird {
  z-index: 1;
  background-image: url('./images/Duck.png');
  background-size: contain;
}

.gameBox {
  background-image: url('./images/gameBG.jpg');
  background-size: auto;
}

.thePipes {
  background-image: url('./images/Fire.jpg');
  background-position: center;
}

.GameContainer {
  overflow: contain;
  display: flex;
  overflow: hidden;
  height: 1000px;
  width:1000px;
}

.headers {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  background: rgba(128, 69, 49,.9);
  
}

.m-0:hover{
  transform: scale(.8);
}

.coolStuff:hover{
  transform: scale(.8);
}